@charset "UTF-8";

body{
  font-family: 'Lato';
}

a{
  display: inline-block;
  text-decoration: none;
}

.inner{
  margin: auto;
  text-align: center;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

img{
  vertical-align: top;
}

/*header*/

.contact__parents{
  background-color: #fff;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.bolt__icon{
  float: left;
  color: #4e4e4e;
  font-size: 45px;
}

.contact{
  font-size: 12px;
  padding: 14px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #74cfae;
  transition-duration: .3s;
  transition-property: all;
  float: right;
}

.contact:hover{
  color: #333;
}

/*first-section*/

.main__content{
  padding-top: 75px;
}

.div__content{
  background-color: #f2f2f2;
}

.main-theme{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Raleway';
}

.sub-theme{
  color: #c0c0c0;
  font-size: 30px;
  font-family: 'Raleway';
}

/*section__content__what-can-we-do*/

.section__content__what-can-we-do{
  background-color: #74cfae;
}

.sub-text{
  font-size: 24px;
  color: #fff;
  font-family: 'Raleway';
}

.sub-text-content{
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  line-height: 25px;
}
.sub-text-content p{
  word-wrap: normal;
}

/*article__content*/

.article__content{
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.sub-title{
  font-size: 24px;
  font-family: 'Raleway';
  margin-bottom: 40px;
}

.figure-title{
  color: #333;
}

.figure-content__parents{
  display: flex;
}

.img__hover{
  opacity: .7;
  transition-duration: .3s;
  transition-property: all;
  cursor: pointer;
}

.img__hover:hover{
  opacity: 1;
}

.text-content__mail{
  font-size: 20px;
}

.send{
  font-size: 12px;
  padding: 14px 20px;
  cursor: pointer;
  color: #fff;
  background-color: #74cfae;
  transition-duration: .3s;
  transition-property: all;
}

.send:hover{
  color: #333;
}

/*section__content__our-skills*/

.section__content__our-skills{
  background-color: #4e4e4e;
  padding:70px 0 100px 0;
}

.skill-title{
  color: #fff; 
}

.content__sircle__parents{
  display: flex;
  justify-content: center;
}

.text-content__circle{
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}
/*nav__content*/

.nav__content{
  background-color: #f2f2f2;
}

.container__icon{
  display: flex;
  justify-content: center;
}

.icon{
  padding: 30px 0;
  cursor: pointer;
  color: #74cfae;
  font-size: 45px;
  transition-property: all;
  transition-duration: .3s;
}

.icon:hover{
 background-color: #fff;
}

/*footer*/

.copy__parent{
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}
.copy{
  color:#fff;
  text-align: right;
}


@media screen and (min-width: 1200px){
 
  .menu{
    display: none;
  }
  
  .inner{
    width: 1100px;
  }
  
  /*first-section*/
  
  .div__content{
    padding: 250px 0;
  }

  /*section__content__what-can-we-do*/
  
  .section__content__what-can-we-do{
    padding-top: 50px;
  }
  
  .phone-img{
   float: left;
  }
  
  .text{
    float: right;
    width: 60%;
  }
  
  /*article__content*/
  
  .figure-content__parents{
    flex-wrap: wrap;
  }
 
  .figure-content__img{
    margin-left:100px;
    margin-bottom: 80px;
  }
  
  .figure-content__img:nth-child(3n+1){
    margin-left: 0;
  }
  
  .figure-content__img:nth-last-child(-n+3){
    margin-bottom: 0;
  }
  
  .mail-section{
    margin-top: 90px;
  }
  
  .text-content__mail{
    display: inline-block;
    width: 52%;
  }
  
  .send{
    margin-left: 90px;
    display: inline-block;
    vertical-align: top;
  }
  
  /*section__content__our-skills*/
  
  
  .skill-title{
    margin-bottom:70px;
  }
  
  .figure-content__circle{
    margin-left: 180px;
  }
  
  .figure-content__circle:first-child{
    margin-left: 0;
  }
  
  .text-content__circle{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
  }
  /*nav__content*/
  
  .nav__content{
    padding: 200px 0;
  }
  
  .icon{
    width: 185px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px){
  
  .inner{
    width: 97%;
  }
  
  /*header*/
  
  .menu{
    display: none;
  }
  
  .div__content{
    padding: 250px 0;
  }
  
  /*section__content__what-can-we-do*/
  
  .section__content__what-can-we-do{
    padding: 50px 0 25px 0;
  }
  
  .text{
    margin: 20px auto 0 auto;
  }

  /*article__content*/
  
  .figure-content__parents{
    flex-direction: column;
  }
  
  
  .figure-content__img:nth-child(3n+4){
    margin-top: 80px;
  }
  
  .mail-section{
    margin-top: 80px;
  }
  
  .text-content__mail{
    margin: 0 auto 40px auto;
  }
  
  /*section__content__our-skills*/
  
  .skill-title{
    margin-bottom:40px; 
  }
  
  .content__sircle__parents{
    flex-direction: column;
  }
  
  .figure-content__circle{
    margin-bottom: 88px;
  }

  .figure-content__circle:last-child{
    margin-bottom: 0px;
  }

    /*nav__content*/

  .nav__content{
    padding: 200px 0;
  }
  
  .icon{
    width: 185px;
  }
  
}

@media screen and (max-width: 767px){
  
  .inner{
    width: 97%;
  }
  
  /*header*/
  
  .menu{
    position: relative;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 20px;
    height:12px;
  
  }
  
  .bar{
    position: absolute;
    height: 2px;
    width: 20px;
    border-radius: 3px;
    display: block;
    background-color: #ddd;
    pointer-events: none;
    transform: translate(0, -50%);
  }
  
  .bar:nth-of-type(1){
    top: 10px;
  }
  
  .bar:nth-of-type(2){
    top: 16px;
  }
  
  .bar:nth-of-type(3){
    top: 22px;
  }
  
  .contact{
    display: none;
    font-family: 'Lato';
    text-align: left;
  }
  
  /*first-section*/
  
 
  .div__content{
    padding: 160px 0 130px 0;
  }
  
  .main-theme{
    font-size: 80px;
 
  }
  
  
  /*section__content__what-can-we-do*/
  
  .section__content__what-can-we-do{
    padding: 50px 0 25px 0;
  }
  
  .text{
    margin: 20px auto 0 auto;
  }
  
  /*article__content*/
  
  .figure-content__parents{
    flex-direction: column;
  }
  
  .figure-content__img:nth-child(3n+4){
    margin-top: 80px;
  }
  
  .mail-section{
    margin-top: 80px;
  }
  
  .text-content__mail{
    margin: 0 auto 40px auto;
  }
  
  /*section__content__our-skills*/
  
  .skill-title{
    margin-bottom:40px;
  }
  
  .content__sircle__parents{
    flex-direction: column;
  }
  
  .figure-content__circle{
    margin-bottom: 88px;
  }

  .figure-content__circle:last-child{
    margin-bottom: 0px;
  }
  
  /*nav__content*/
  
  .nav__content{
    padding: 50px 15px;
  }
  
  .container__icon{
    flex-direction: column;
  }
 
}
