@charset "UTF-8";

a{
  display: inline-block;
  text-decoration: none;
}

.inner{
  width: 1100px;
  margin: auto;
  text-align: center;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

img{
  vertical-align: top;
}

/*header*/

.contact__parents{
  background-color: #fff;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.bolt__icon{
  float: left;
  color: #4e4e4e;
  font-size: 45px;
}

.contact{
  font-size: 12px;
  padding: 14px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #74cfae;
  transition-duration: .3s;
  transition-property: all;
  float: right;
  font-family: 'Lato';
}

.contact:hover{
  color: #333;
}

/*first-section*/

.main__content{
  padding-top: 75px;
}

.div__content{
  background-color: #f2f2f2;
  padding: 250px 0;
}

.main-theme{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Raleway';
}

.sub-theme{
  color: #c0c0c0;
  font-size: 30px;
  font-family: 'Raleway';
}

/*section__content__what-can-we-do*/

.section__content__what-can-we-do{
  background-color: #74cfae;
  padding-top: 50px;
}

.phone-img{
 float: left;
}

.text{
  float: right;
  width: 60%;
}

.sub-text{
  font-size: 24px;
  color: #fff;
  font-family: 'Raleway';
}

.sub-text-content{
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  font-family: 'Lato';
  line-height: 25px;
}
.sub-text-content p{
  word-wrap: normal;
}

/*article__content*/

.article__content{
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.sub-title{
  font-size: 24px;
  font-family: 'Raleway';
  margin-bottom: 40px;
}

.figure-title{
  color: #333;
}

.figure-content__parents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img__hover{
  opacity: .7;
  transition-duration: .3s;
  transition-property: all;
  cursor: pointer;
}

.figure-content__img{
  margin-left:100px;
  margin-bottom: 80px;
}

.figure-content__img:nth-child(3n+1){
  margin-left: 0;
}

.figure-content__img:nth-last-child(-n+3){
  margin-bottom: 0;
}

.img__hover{
  opacity: .7;
  transition-duration: .3s;
  transition-property: all;
  cursor: pointer;
}

.img__hover:hover{
  opacity: 1;
}

.mail-section{
  margin-top: 90px;
}

.text-content__mail{
  font-size: 20px;
  display: inline-block;
  font-family: 'Lato';
  width: 52%;
}

.send{
  margin-left: 90px;
  font-size: 12px;
  padding: 14px 20px;
  cursor: pointer;
  color: #fff;
  background-color: #74cfae;
  transition-duration: .3s;
  transition-property: all;
  display: inline-block;
  vertical-align: top;
  font-family: 'Lato';
}

.send:hover{
  color: #333;
}

/*section__content__our-skills*/

.section__content__our-skills{
  background-color: #4e4e4e;
  padding:70px 0 100px 0;
}

.skill-title{
  margin-bottom:70px;
  color: #fff; 
}

.content__sircle__parents{
  display: flex;
  justify-content: center;
}

.figure-content__circle{
  margin-left: 180px;
  font-family: 'Lato';
}

.figure-content__circle:first-child{
  margin-left: 0;
}

.text-content__circle{
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}
/*nav__content*/

.nav__content{
  background-color: #f2f2f2;
  padding: 200px 0;
}

.container__icon{
  display: flex;
  justify-content: center;
}

.icon{
  width: 185px;
  padding: 30px 0;
  cursor: pointer;
  color: #74cfae;
  font-size: 45px;
  transition-property: all;
  transition-duration: .3s;
}

.icon:hover{
 background-color: #fff;
}

/*footer*/

.copy__parent{
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}
.copy{
  color:#fff;
  text-align: right;
  font-family: 'Lato';
}